  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
  	padding: 0px;
  	position: fixed;
  	background-image: url(../Pictures/dtc_weblap_LOGO.png);
  	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }

  .parallax__layer--back {
  	padding: 0px;
  	position: fixed;
  	background-image: url(../Pictures/dtc_weblap_BACKGROUND.jpg);
  	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 102%;
  	
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }

  /* demo styles
  --------------------------------------------- */


  body {
    font: 100% / 1.5 Arial;
    background-color: black;
    @media
  }
  
  html{
  	font-size: 100%;
  }
  
  @media(min-width:60em){
  	html{font-size: 100%}
  }
  
  h1 {
	color: white;
  }
  
  h3 {
	color: #4A697B;
  }

  .parallax {
    font-size: 100%;
  }
  
  .content {
  	width: 100%;
  	text-align: center;
  	color: white;
  	background-color: black;
  	position: absolute;
  	top: 100%;
  	-webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
  
  .details {
  	position: absolute;
    text-align: center;
    font-size: 0px;
    vertical-align: middle;
    width: 100%;
    height: 5%;
    top: 95%;
    z-index: 1;
  }
  
 .details img{
    padding-right: 1.2%;
    opacity: 0.5;
    border-style: none;
    outline: 0;
}

.details img:hover{
    opacity: 1;
}

#mycarousel {
    margin: 0;
    width: 100%;
}

#radioPicture {
	width: 100%;
}

#images{
	border: 0;
  	float: left;
	position: relative;
}

#music_image_background {		
  	padding-left: 0px;
  	padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

#music_image_left{
  	border: 0;
  	position: absolute;
  
  	padding-left: 0px;
  	padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	
	-webkit-transition: opacity 0.5s;
	opacity: 1;
}

#music_image_left:HOVER{
	opacity: 0.1;
}

#music_image_right{
  	border: 0;
  	position: absolute;
  
  	padding-left: 0px;
  	padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	
	-webkit-transition: opacity 0.5s;
	opacity: 1;
}

#music_image_right:HOVER{
	opacity: 0.1;
}

#rsvp_btn {
    text-decoration: none;
}

#rsvp_btn:hover {
    text-decoration: none;
}

.btn-sm {
}

.btn-sm:hover {
}

.wpic_navigation {
    margin-bottom: 6%;
    overflow: hidden;
    visibility: hidden;
}

a:focus{
    outline: none;
}

#contactsbox{
	text-align: left;
}

#columnTitle{
	color: #4A697B;
}
****************************
position: absolute;
    text-align: center;
    font-size: 0px;
    vertical-align: middle;
    width: 100%;
    height: 5%;
    top: 95%;
    z-index: 1;
    
nav {
  position: relative;
  width: 100%;
  height: 5%;
  top: 95%;
  text-align: center;
  font-size: 0px;
  vertical-align: middle;
  
}

nav li {
  display: inline-block;
  list-style: none;
  padding-right: 1.2%;
}

.sticky .nav-above {
  position: absolute;
  top:95%;
  height:5%;
  /* add cross-browser gradient code as needed */
}






  	




























